

<!--ユーザーの詳細-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <!--プロフィール編集ページへのリンクを追加する-->
  <!--if式を使ってログインしているユーザーにボタンが表示されるようにする-->
  <% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
  <% end %>
</div>



<!--@post_imagesには複数のデータが配列として格納されている-->
<!--each文を使用して、それぞれ代入しておく必要がある-->
<!--部分テンプレートを呼び出す-->
<!--ユーザーの投稿一覧-->
<%= render 'post_images/list', post_images: @post_images %>
